body {
  font-family: "Abel", sans-serif;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); }

.global_frases h2 {
  background-color: #1f2224;
  text-align: center;
  font-size: 2rem;
  font-family: "MonteCarlo", cursive;
  color: #D4AF37;
  padding: 2rem;
  border-bottom: 1px solid black; }

.header_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/header.jpg) center/cover no-repeat;
  padding: 2rem; }

.header_titulo {
  font-family: "MonteCarlo", cursive;
  color: #D4AF37;
  font-size: 2.5rem;
  text-align: center; }

.header_titulo h1 {
  margin-bottom: 0px; }

.header_enlace {
  display: flex;
  justify-content: center; }

.header_enlace img {
  width: 75%; }

.header_nav {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 0;
  padding: 1rem 0rem;
  border-bottom: 1px solid black; }

.header_nav a {
  padding: 0px 20px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: black; }

.header_nav :hover {
  background-color: black;
  color: #D4AF37;
  transform: scale(110%, 120%); }

@media only screen and (max-width: 768px) {
  .header_main {
    flex-direction: column;
    padding: 2rem; }
  .header_titulo {
    font-size: 150%; }
  .header_main a {
    display: flex;
    justify-content: center; }
  .header_main img {
    width: 60%; }
  .header_nav {
    flex-direction: column;
    align-items: center; }
  .header_nav li {
    margin: 10px; } }

.footer {
  background-color: #1f2224;
  padding-top: 1rem; }

.footer_pt1 {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 60% 40%;
  grid-template-areas: "a1 a2 a3" "a1 a2 a6";
  align-items: center;
  justify-items: center; }

.footer_pt1 h2 {
  text-transform: uppercase;
  color: #D4AF37;
  font-size: 20px;
  text-align: center; }

.footer_pt1 p {
  color: #D4AF37;
  text-transform: uppercase;
  text-align: center; }

.footer_pt1 iframe {
  width: 100%;
  height: 100%; }

.footer_direccion {
  grid-area: a1; }

.footer_logo {
  grid-area: a2; }

.footer_logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  /*Se utiliza flex en el padre del "img" para poder centrarlo luego de cambiarle el "width"*/ }

.footer_logo img {
  width: 75%; }

.footer_tel {
  grid-area: a3;
  height: 100%; }

.footer_social {
  grid-area: a6; }

.footer_redes {
  display: flex;
  justify-content: center;
  gap: 16px; }

.footer_pt2 {
  background-color: #06101a;
  padding: 15px 10px;
  text-align: center;
  color: #D4AF37; }

.footer .footer_pt2 small {
  font-size: 15px; }

@media only screen and (max-width: 768px) {
  .footer_pt1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 35% 20% 15%;
    grid-template-areas: "a1" "a2" "a3" "a4"; }
  .footer_logo {
    grid-area: a1; }
  .footer_direccion {
    grid-area: a2; }
  .footer_tel {
    grid-area: a3; }
  .footer_social {
    grid-area: a4; } }

@media only screen and (max-width: 266px) {
  .footer_pt1 {
    height: 700px; }
  .footer_media h2 {
    font-weight: lighter;
    font-size: 16px; }
  .footer_redes svg {
    width: 90%; } }

.index_info {
  max-width: 75%;
  margin: auto; }

.slide_bistro {
  max-width: 900px;
  margin: auto; }

.index_info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  gap: 2rem; }

.index_info_bistro {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
  border-radius: 1rem;
  padding: 1rem 1rem; }

.index_info_bistro img {
  width: 90%; }

.slide_bistro {
  margin: auto;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
  border-radius: 1rem;
  padding: 2rem 2rem; }

.index_galeria h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 1px solid black;
  margin-top: 32PX; }

.index_galeria_img {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  grid-template-areas: "a1 a2" "a3 a4" "a5 a6" "a7 a8"; }

.index_galeria_img :hover {
  transform: scale(120%, 120%); }

.index_galeria_img img {
  margin: 16px; }

@media only screen and (max-width: 768px) {
  .index_info {
    flex-direction: column; }
  .slide_bistro {
    width: 100%;
    margin: auto; } }

@media only screen and (max-width: 768px) {
  .index_galeria_img {
    display: flex;
    flex-direction: column; }
  .index_galeria_img img {
    width: 75%; }
  .index_galeria_img :hover {
    transform: scale(110%, 110%); }
  .slide_bistro {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem; } }

/*------------------N O S O T R O S------------------*/
.nosotros_background {
  min-height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/nosotros_staff.jpg) center/cover no-repeat;
  margin-top: -8px; }

.nosotros_pt1 {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin: 20px auto;
  max-width: 1024px; }

.nosotros_pt1 h2 {
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase; }

.nosotros_pt1 img {
  width: 90%; }

.nosotros_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 1px solid black; }

.nosotros_chef {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 2rem; }

.nosotros_chef h5 {
  font-weight: bold;
  text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  .nosotros_chef {
    flex-wrap: wrap; } }

/*------------------C A R T A------------------*/
.carta {
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carta_fondo.jpeg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: -8px; }

.carta_pdf {
  text-transform: uppercase;
  font-weight: bold;
  color: #D4AF37; }

/*------------------C O N T A C T O------------------*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacto_img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/contacto_img1.jpg) center/cover no-repeat; }

.contacto_img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/contacto_img2.png) center/cover no-repeat; }

.contacto_img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contacto_img3.jpg) center/cover no-repeat; }

.contacto_pt1 {
  text-align: center;
  padding-top: 1rem; }

.contacto_pt1 .card {
  width: 500px;
  height: 600px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: .4em; }

.contacto_info {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
  transition: all .05s;
  display: flex;
  align-items: center; }

.contacto_pt1 .card div:hover {
  flex: 4; }

.contacto_info span,
.contacto_info li,
.contacto_info p {
  min-width: 10em;
  padding: .5em;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: .1em;
  font-size: 16px;
  font-weight: bold; }

.contacto_pt1 .card div:hover span {
  transform: rotate(0); }

.contacto_info li,
.contacto_info p {
  color: rgba(0, 0, 0, 0); }

.contacto_pt1 .card div:hover li,
.contacto_pt1 .card div:hover p {
  transform: rotate(0);
  color: #D4AF37; }

.contacto_info ul {
  list-style-type: none; }

.contacto_pt2 {
  background-color: #fff;
  width: 50%;
  margin: 24px auto 24px auto;
  font-size: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
  border-radius: 16px;
  padding: 16px;
  text-align: left; }

.contacto_pt2 label {
  text-transform: uppercase;
  font-weight: bold; }

.contacto_pt2 textarea {
  height: 200px; }

@media only screen and (max-width: 768px) {
  .contacto_pt2 {
    width: 80%; }
  .contacto_pt2 label {
    text-transform: uppercase;
    font-size: 16px;
    text-align: justify; } }

@media only screen and (max-width: 500px) {
  .contacto_pt1 {
    margin: 2rem; }
  .contacto_pt1 .card {
    width: 100%;
    height: 600px; }
  .contacto_info {
    display: flex;
    flex-direction: column; }
  .contacto_info span {
    min-width: 1px;
    transform: rotate(0deg);
    font-size: 16px;
    text-align: center; }
  .contacto_info li,
  .contacto_info p {
    min-width: 1px;
    font-size: 16px;
    text-align: center; }
  .contacto_info ul,
  .contacto_info p {
    padding: 5px;
    margin: auto; } }

/*------------------R E S E R V A S-----------------*/
.reserva_main {
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/reserva-fondo.jpg) center/cover no-repeat;
  color: #fff;
  text-align: center; }

.reserva_grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  margin: auto;
  max-width: 1200px; }

.reserva_img img {
  width: 100%;
  height: 100%; }

.reserva_full {
  background-color: white;
  display: flex;
  flex-direction: column; }

.reserva_full h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding-top: 1rem; }

.reserva_formulario {
  width: 95%;
  margin: auto; }

.formulario_boton button {
  text-transform: uppercase;
  font-weight: bold;
  color: #D4AF37; }

@media only screen and (max-width: 768px) {
  .reserva_main {
    height: 1024px; }
  .reserva_grid {
    grid-template-columns: 100%;
    grid-template-rows: 40% 50%;
    align-content: center; }
  .reserva_full {
    height: 400px;
    margin-bottom: 2rem; } }
