.header_main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/header.jpg) center/cover no-repeat;
    padding: 2rem;
  }
  
  .header_titulo {
    font-family: $fuente_principal;
    color: $color_primario;
    font-size: 2.5rem;
    text-align: center;
    & h1 {
      margin-bottom: 0px;
    }
  }
  
  .header_enlace {
    display: flex;
    justify-content: center;
    & img {
      width: 75%;
    }
  }
    
  .header_nav {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 0;
    padding: 1rem 0rem;
    border-bottom: 1px solid black;
    & a {
      padding: 0px 20px;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      color: black
    }
    & :hover {
      background-color: black;
      color: $color_primario;
      transform: scale(110%, 120%);
    }
  }
  
   @media only screen and (max-width: 768px) {
  
    .header_main {
      flex-direction: column;
      padding: 2rem;
      & a {
        display: flex;
        justify-content: center;
      }
      & img {
        width: 60%;
      }
      .header_titulo {
        font-size: 150%;
      }  
    }      
  
    .header_nav {
      flex-direction: column;
      align-items: center;
      & li {
        margin: 10px;
      }
    }
      
  }